@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
   --cor-cinza: #cebea4;
   --cor-preto: #0d0d0d;
   --cor-laranja: #ff5631;
   --cor-cinza2: #1e1e1e;
   --font: "Poppins";
}
body {
    background-color: var(--cor-preto);
    font-family: var(--font);
    color: var(--cor-cinza);
}
.viw{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-preto);
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10% 0;
    position: relative;
}
.header-title {
    font-weight: 600;
    font-size: 1em;
}
.title-color {
    color: var(--cor-laranja);
}
.logout-menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/logout.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.header-button:checked~.header-logout {
    background-color: var(--cor-preto);   
}
.size-menu img{
    width: 1.5em;
    height: 1.5em;
}
.logout-list {
    display: none;
    position: absolute;
    top: 100%;
    right: -10%;
    width: 55%;
    list-style: none;
    text-align: center;
    background-color: var(--cor-cinza);
    color: var(--cor-cinza2);
    border-radius: 10px;
}   
.header-button:checked~.logout-list {
    display: block;
}
.logout-list-item {
    padding: 0.25em;
    margin: 0.25em;
}
.profile{
    font-weight: 700;
    font-size: 1.25em;
}
.mail,
.phone {
    font-size: 0.75em;
}
.image{
    width: 80%;
    border: 2px solid var(--cor-laranja);
    border-radius: 50%;
}
.exit{
    font-weight: 800;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-preto);
    border: 2px solid var(--cor-laranja);
    border-radius: 1em;
    padding: 0.1em 0.5em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.exit:active{
    background-color: var(--cor-laranja);
    border: 2px solid var(--cor-preto);
}
.header-button {
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 5% 5% 5%;
}
.counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--cor-cinza);
    border-radius: 2em;
    width: 100%;
    padding: 2em 0;
}
.counter-items{
    display: flex;
    flex-direction: column;
}
.counter-items-title {
    font-size: 1.4em;
}
.counter-items-text {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.counter-items-actives {
    display: flex;
    border: 1px solid var(--cor-laranja);
    background-color: var(--cor-laranja);
    padding: 1.8em;
    border-radius: 50%;
}
.counter-activities {
    font-size: 1.8em;
    font-weight: 800;
    margin: 2px;
    color: var(--cor-preto);
}
.activities {
    width: 100%;
    margin: 2em 0;
}
.activities-add {
    display: flex;
    justify-content: space-around; 
}
.activities-add-text {
    background-color: var(--cor-cinza2);
    font-family: var(--font);
    font-size: 0.9em;
    font-weight: 500;
    color: var(--cor-cinza);
    border: 1px solid var(--cor-cinza2);
    border-radius: 16px;
    width: 70%;
    padding: 0.7em 1.4em;
}
.activities-add-button {
    background-color: var(--cor-laranja);
    font-family: var(--font);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor-preto);
    border: 1px solid var(--cor-preto);
    border-radius: 50%;
    padding: 0 0.5em;
}
.activities-add-button:active {
    background-color: var(--cor-preto);
    border: 1px solid var(--cor-cinza);
    font-weight: 700;
    color: var(--cor-laranja);
}
.task {
    width: 100%;
}
.task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
.task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-cinza2);
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1.5em;
}
.task-list-item-text input {
    display: none;
}
.task-list-item-text input + label:before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: var(--cor-cinza2);
    border: 1px solid var(--cor-laranja);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}
.task-list-item-text input:checked + label:before {
    background-color: green;
    border: 1px solid green;
}
.task-text {
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 1em;
}
.task-list-item-text input:checked~.task-text{
    text-decoration: line-through;
}
.task-list-item-button {
    display: flex;
}
#task-edit{
    width: 1.6em;
    height: 1.6em;
    background-image: url("../img/edit.png");
    background-size: 1.6em;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1em 0.5em 1em 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#task-edit:active{
    background-image: url("../img/edit-hover.png");
}
#task-delete{
    width: 1.6em;
    height: 1.6em;
    background-image: url("../img/delete.png");
    background-size: 1.6em;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1em 2em 1em 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#task-delete:active{
    background-image: url("../img/delete-hover.png");
}
@media screen and (min-width: 768px) {
    body{
        background-color: var(--cor-cinza);
    }
    .viw{
        margin: 8% 5%;
        border-radius: 5%;
    }
    .header {
        width: 60%;
    }
    .container{
        width: 60%;
    }
}
@media screen and (min-width: 1024px) {
    body{
        background-color: var(--cor-cinza);
    }
    .viw{
        margin: 5% 5%;
        border-radius: 5%;
    }
    .header {
        width: 70%;
        margin: 5% 0;
    }
    .container{
        width: 40%;
    }
    .logout-list {
        width: 30%;
    }
    .exit:hover{
        background-color: var(--cor-cinza2);
        color: var(--cor-cinza);
        border: 2px solid var(--cor-preto);
    }
    .exit:active{
        background-color: var(--cor-laranja);
        border: 2px solid var(--cor-preto);
    }
    .activities-add-text:hover{
        border: 1px solid var(--cor-laranja);
    }
    .activities-add-button:hover {
        background-color: var(--cor-laranja);
        border: 1px solid var(--cor-cinza);
        color: var(--cor-cinza);
    }
    .activities-add-button:active {
        background-color: var(--cor-preto);
        border: 1px solid var(--cor-cinza);
        color: var(--cor-laranja);
    }
    #task-edit:hover{
        background-image: url("../img/edit-hover.png");
    }
    #task-delete:hover{
        background-image: url("../img/delete-hover.png");
    }
    #task-edit:active{
        background-image: url("../img/edit.png");
    }
    #task-delete:active{
        background-image: url("../img/delete.png");
    }
}
