@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
   --cor-cinza: #cebea4;
   --cor-preto: #0d0d0d;
   --cor-laranja: #ff5631;
   --cor-cinza2: #1e1e1e;
   --font: "Poppins";
}
body {
    background-color: var(--cor-preto);
    font-family: var(--font);
    color: var(--cor-cinza);
}
.viw{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-preto);
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10% 0;
    position: relative;
}
.header-title {
    font-weight: 600;
    font-size: 1em;
}
.title-color {
    color: var(--cor-laranja);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-form-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 0;
    width: 90%;
}
.container-form-list-title{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor-laranja);
    margin-bottom: 1em;
}
.container-form-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 80%;
}
.container-form-list-item input {
    background-color: var(--cor-cinza2);
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-cinza);
    border-radius: 0.5em;
    border: 1px solid var(--cor-cinza);
    padding: 0.5em 1em;
}
.container-form-list-item input:focus{
    color: var(--cor-cinza2);
    background-color: var(--cor-laranja);
}
.container-form-list-button input {
    background-color: var(--cor-cinza2);
    font-size: 1em;
    font-weight: 700;
    color: var(--cor-cinza);
    border: 1px solid var(--cor-cinza);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 1em 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container-form-list-button input:active {
    background-color: var(--cor-laranja);
    color: var(--cor-preto);
}
.container-form-list-link a{
    text-decoration: none;
    color: var(--cor-cinza);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container-form-list-link a:active{
    color: var(--cor-laranja);
}
@media screen and (min-width: 768px) {
    body{
        background-color: var(--cor-cinza);
    }
    .viw{
        margin: 10% 10%;
        border-radius: 5em;
        padding-bottom: 5%;
    }
    .header {
        width: 70%;
        margin: 5% 0;
    }
    .container{
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    body{
        background-color: var(--cor-cinza);
    }
    .viw{
        margin: 8% 10%;
        border-radius: 5em;
    }
    .header {
        width: 70%;
    }
    .container{
        width: 50%;
    }
    .container-form-list-item input:hover {
        border: 1px solid var(--cor-laranja);
    }
    .container-form-list-button input:hover {
        border: 1px solid var(--cor-laranja);
        color: var(--cor-laranja);
    }
    .container-form-list-link a:hover{
        color: var(--cor-laranja);
    }
}